body{
    margin: auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
header{
    position: fixed;
    top:0;
    width: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header > section{
    width: 50%;
    display: flex;
    margin-top: 20px;
}
header > nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header > nav > ul > li{
    margin: 10px;
    padding: 20px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
nav a{
    color: darkslategray;
    font-weight:bolder;
}
nav a:hover{
    background-color: bisque;

}
main{
   padding: 20px;
   text-align: center;
}
main > section{
    margin: auto;
    width: 80%;
    text-align: center;
}
#home{
    padding-top: 500px;
    padding-bottom: 400px;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}
#about-me, #projects, #contact-me{
    padding-top: 200px;
    padding-bottom: 400px;
    text-align: center;
    font-weight:400;
}
#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#projects > div#logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
}
#projects > div#logos > div{
    margin-right: 50px;
    background-color: lightgray;
    border-radius: 20px;
}
#html > a > img, #css > a >img, #js > a >img{
    border-radius: 40px;
    padding: 20px;
}
form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: lightgray;
}
form > *{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    width: 80%;
    border-radius: 10px;
    border-style: none;
}
form > input[type="submit"]{
    width: 30%;
    color: white;
    background-color: darkslategrey;
}
form > input[type="submit"]:hover{
    background-color:rgb(21, 216, 21);
    color: rgb(23, 18, 18);
}
#about-me > section{
    background-color: lightgray;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    color: black;
}
footer{
    background-color: lightgray;
    color: black;
    text-align: center;
}